.stepper {
  height: 4rem;
  margin-top: 1rem;
}
.css-ascpo7-MuiStepLabel-root {
  max-width: 17rem;
}
.css-1869usk-MuiFormControl-root{
    width: 100%;
    margin: 0%;
}
.css-ze8lza-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    background-color: white;
}